.show-title {
  color: white;
}
.sidebar {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  margin-top: 20px;
  position: absolute;
  left: 95%;
}

.image-home {
  color: black;
  position: absolute;
  font-size: 2rem;
  right: 6px;
}
.image-home:hover {
  font-size: 2.2rem;
}
